Package: cn.kingtous.fclash
Version: 1.4.3
Architecture: amd64 
Section: Network
Maintainer: Kingtous
Depends: libayatana-appindicator3-1
Priority: optional
Homepage: https://github.com/fclash/fclash
Description: A Clash Proxy Fronted based on Clash
