[Desktop Entry]
Name=FClash
Comment=A Clash Proxy Frontend.
Exec=fclash
Icon=${SNAP}/meta/gui/app_icon.png
Terminal=false
Type=Application
Categories=Network;
