name: Build Debian Package

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - README.md
      - snap/**
      - .github/**
      - docs/**
      - PKGBUILD
      - .SRCINFO
      - LICENSE

jobs:
  build-debian-package:
    runs-on: ubuntu-18.04

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2
      - uses: actions/setup-go@v3
        with:
          go-version: '>=1.19.0'
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.0.5'
          channel: 'stable'
      - name: Enable Linux Desktop Support
        run: flutter config --enable-linux-desktop
      - name: install dependencies
        run: sudo apt update -y && sudo apt install -y libappindicator3-dev ninja-build build-essential
      - name: build linux debian package
        run: ./build-deb.sh
      - uses: actions/upload-artifact@v2
        with:
          name: cn.kingtous.fclash.deb
          path: ./debian/cn.kingtous.fclash.deb
      - uses: ncipollo/release-action@v1
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          artifacts: "debian/cn.kingtous.fclash.deb"
          token: ${{ secrets.GITHUB_TOKEN }}
